.menu {
    background-color: rgb(209, 115, 167);
    grid-area: menu;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
}

footer {
    background-color:  rgb(117, 0, 128);
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
}
footer a {
  color: #FFD700;
  text-decoration: none;
}

table {
    border: 1px solid rgb(255, 129, 198);
}

.destaque {
    background-color: rgb(247, 164, 242);
    font-weight: bold;
}

#titulo-noticias {
    color: rgb(243, 241, 241);
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    color: #47ff8d;
}

a:active {
    text-decoration: underline;
}

input:focus {
    border: 2px solid blue;
}

p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

h2::after {
    content: " ✨";
    font-size: 1.5em;
}

body {
    background-color: rgb(209, 115, 167);
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-areas:
        "menu header aside"
        "menu main aside"
        "footer footer footer";
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
}

p {
    line-height: 1.5;
    text-align: justify;
}

h3 {
    text-decoration: underline;
}

h1 {
    color: #1a237e;
}

h2 {
    margin-bottom: 15px;
    padding: 10px;
    color: rgb(0, 150, 136);
}
h1, h2, h3 {
    color: #333;
    text-align: center;
}
img {
    border-radius: 10px;
    max-width: 100%;
}

p.especifico {
    color: rgba(0, 0, 0, 0.7);
}

p.trecho {
    color: hsl(340, 82%, 52%);
}

header {
    background-color: rgb(255, 129, 198);
    grid-area: header;
}

#noticias {
    flex: 2;
    background: linear-gradient(135deg, #e1b5e6, #ef80f3, #e278d4);
    padding: 10px;
}

#tutoriais {
    flex: 1;
    background: linear-gradient(135deg, #f1f8e9, #dcedc8, #c5e1a5);
    padding: 10px;
}

#edicoes-recentes {
    background-attachment: fixed;
}

main {
    grid-area: main;
    width: 80%;
    margin: auto;
    flex-direction: row;
    gap: 20px;
}

aside {
    grid-area: aside;
    background-color: #f0f0f0;
    padding: 10px;
}

nav {
    position: sticky;
    top: 0;
}

ansise {
    position: relative;
}

aside button {
    position: absolute;
    top: 5px;
    bottom: 900px;
    right: 5px;
}

.redes {
    position: fixed;
    top: 50%;
    left: 0;
}

section {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: auto auto auto;  
    gap: 10px; 
    padding: 10px;
}
    .parent > div {
    background-color: #f0bcd7; 
    border: 1px solid #f0bcd7;
    border-radius: 10px;
    padding: 10px;
}

.div2 {
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}

.div4 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.div5 {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
}
.div1,.div2, .div3, .div4, .div5, .div6, .div7 {
    background-color: rgb(255, 129, 198);
    border: 2px solid white;
    border-radius: 10px;
}
        
